[user]
	email = felipexperto@gmail.com
[alias]
	st = status
	unstage = reset HEAD .
	cf = diff-tree --no-commit-id --name-only -r
	ck = checkout
	lgp = log --pretty=format:\"%h - %an, %ar : %s\"
	lgo = log --oneline
	lgs = log --stat
	last = log -1 HEAD
	lgg = log --graph --abbrev-commit --decorate --all --format=format:\"%C(bold blue)%h%C(reset) - %C(bold cyan)%aD%C(dim white) - %an%C(reset) %C(bold green)(%ar)%C(reset)%C(bold yellow)%d%C(reset)%n %C(white)%s%C(reset)\"
	fxdev = config user.email "felipexperto@gmail.com"
